#root{
    --hp: 0;
    --atk:0;
    --def: 0;
    --spatk: 0;
    --spdef: 0
    --spd:0
    --total:0

}
.App {
    background-color: white;
    min-width: 440px;
}

h1 {
    text-align: center;
    background-color: #e45a52;
    margin: 0%;
    border-bottom: 1px solid black;
}

.pokedex {
    background-color: #f2f2f2;
    border:1px solid #e45a52;
    min-width: 300px;
    cursor: pointer;
    text-decoration: none;
}
h2{
    font-size: 56px;
    padding-left: 24px;
    grid-column: 1 ;
    grid-row: 1;
}
.pkmnName {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0;
}
.card-title {
    color: black;
}
.pokedex:hover {
    background-color: #cacaca;
}
.id {
    text-align: left;
    color: grey;
}

.more {
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid black;
}
.sprites {
    margin-left: 1rem ;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    justify-content: center;
    height:28vh;
}
#frontSprite, #backSprite {
    grid-row: 2;
    text-align: center;
    height:13rem;
    width: 200px;
}

.pictures {
    display:grid;
    grid-template-rows: .1fr .9fr;
    grid-template-columns: 1fr 1fr;
    height: auto;
    margin:.5rem;
    margin-top: 0;
    margin-right: 0;
}
.title {
    text-align: center;
    grid-row: 1;
    grid-column: 1/3;
    border: 1px solid rgb(32, 32, 32);
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 0%; 
}
.info{
    display: flex;
    justify-content: center;
}

.body {
    display: grid;
    height: 100vh;
    grid-template-columns: .1fr 1fr 1fr;
    grid-template-rows:.1fr repeat(2, 1fr) ;
}
.detailsImg {
    margin-left: 1rem;
    grid-row: 2;
    background-color: #f2f2f2;
    border: 1px solid rgb(32, 32, 32);
    border-radius: 10px;
}
.detailsId {
    margin-top: 6px;
    font-size: 19px;
}
.pokemonName {
    display: flex;
    justify-content: space-between;
}
.left {
    padding-left: 1rem;
}
.stats {
    margin-top: 1rem;
    grid-row: 3;
    grid-column: 1;
}

.statName {
    width: 20%;
    border-right: 0px;
    border-top: 0px;
}

.statBox {
    display: flex;
    border-right: 1px solid #e9ecef;
    border-radius: 5px;
}
.statBar {
    width: 100%;
}
.statsCard {
    margin-left: 1rem;
    text-align: left;
    grid-row: 2;
    grid-column: 1/3;
}

.list-group-item {
    padding: 1rem;
}
.statsTitle {
    padding: 0.76rem;
}
.hp {
    background: rgb(224,118,118);
    background: linear-gradient(90deg, rgba(224,118,118,1) 0%, rgba(213,20,26,1) 100%);
    width: calc(100% * var(--hp)/255);
    border-radius: 5px;
}
.atk {
    background: rgb(254,154,102);
    background: linear-gradient(90deg, rgba(254,154,102,1) 0%, rgba(250,123,57,1) 100%);
    width: calc(100% * var(--atk)/255);
    border-radius: 5px;
}
.def {
    background: rgb(247,219,108);
    background: linear-gradient(90deg, rgba(247,219,108,1) 0%, rgba(231,187,18,1) 100%);
    width: calc(100% * var(--def)/255);
    border-radius: 5px;
}
.spatk {
    background: rgb(179,232,67);
    background: linear-gradient(90deg, rgba(179,232,67,1) 0%, rgba(119,172,8,1) 100%);
    width: calc(100% * var(--spatk)/255);
    border-radius: 5px;
}
.spdef {
    background: rgb(65,154,249);
    background: linear-gradient(90deg, rgba(65,154,249,1) 0%, rgba(18,114,216,1) 100%);
    width: calc(100% * var(--spdef)/255);
    border-radius: 5px;
}
.spd {
    background: rgb(152,107,236);
    background: linear-gradient(90deg, rgba(152,107,236,1) 0%, rgba(90,55,154,1) 85%);
    width: calc(100% * var(--spd)/255);
    border-radius: 5px;
}
.total {
    width: 20%;
    border:1px solid #e9ecef;
    border-top: 0;
}
.list-group {
    border-radius: 5px;
}
.list-group-item:last-child {
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    
}
.midSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    grid-row: 2/4;
}

@media only screen and (max-width: 912px) {
    .row {
      display: flex;
      justify-content: center;
    }
  }